body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.65;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

@font-face {
  font-family: "Helvetica Neue Cyr Ultra Light";
  src: url("HelveticaNeueCyr-UltraLight.eot");
  src: url("HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("HelveticaNeueCyr-UltraLight.woff") format("woff"), url("HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.container {
  padding: 0px 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 0.62;
  letter-spacing: -0.02em;
  color: #333333;
  text-align: center;
}

.header__container {
  padding: 30px 24px;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.container_additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-btn {
  width: 24px;
  height: 24px;
  margin-right: 26px;
}

.profile-btn {
  width: 28px;
  height: 28px;
  background-color: #0f756b;
  border-radius: 50%;
}

.company-logo {
  display: block;
  text-align: center;
}

.hero {
  padding-top: 30px;
}

.hero__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  margin-bottom: 10px;
  max-width: 300px;
}

.hero__subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.01em;
  color: #404040;
  margin-bottom: 50px;
}

.hero__img {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
}

.hero__text {
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 35px;
}

.hero__text--bold {
  font-weight: 700;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 17px;
}

.buttons-container li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  text-align: center;
  letter-spacing: -0.02em;
  width: 100%;
}

.btn-alt {
  background-color: #ffffff;
  color: #0f756b;
  border: 1px solid #0f756b;
}

.btn-main {
  background: #1b353d;
  color: #ffffff;
  border: 1px solid #1b353d;
}

.form {
  margin-bottom: 36px;
}

.section.form {
  margin-top: 90px;
}

.section__form--title {
  color: #333333;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.83;
  letter-spacing: -0.02em;
  margin-bottom: 36px;
}

.form__input {
  width: 100%;
  padding: 12px 0px 13px 16px;
  outline: none;
  background-color: #f2f2f2;
  border: 0.75859px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 24px;
}
.form__input::-webkit-input-placeholder {
  font-family: "Helvetica 65 Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.52;
  letter-spacing: 0.3px;
  color: #8b8b8b;
}
.form__input::-moz-placeholder {
  font-family: "Helvetica 65 Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.52;
  letter-spacing: 0.3px;
  color: #8b8b8b;
}
.form__input:-ms-input-placeholder {
  font-family: "Helvetica 65 Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.52;
  letter-spacing: 0.3px;
  color: #8b8b8b;
}
.form__input::-ms-input-placeholder {
  font-family: "Helvetica 65 Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.52;
  letter-spacing: 0.3px;
  color: #8b8b8b;
}
.form__input::placeholder {
  font-family: "Helvetica 65 Medium", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.52;
  letter-spacing: 0.3px;
  color: #8b8b8b;
}

.form__input:focus {
  border: 2px solid #1b353d;
}

.datalist {
  margin-bottom: 36px;
  background-image: url(../../imgs/ArrowDown.svg);
  background-repeat: no-repeat;
  background-position: right 12px top 18px;
}

.form__button {
  width: 100%;
  padding: 16px 0px;
  background: #1b353d;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.benefits {
  padding-top: 42px;
}

.benefits__title {
  margin-bottom: 48px;
}

.benefits__item:not(:last-child) {
  margin-bottom: 70px;
}

.benefits__item--title {
  font-weight: 800;
  font-size: 24px;
  line-height: 0.89;
  color: #0f756b;
  margin-bottom: 18px;
}

.benefits__item--subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #333333;
  margin-bottom: 28px;
}

.benefits__img {
  display: block;
  margin: 0 auto 27px;
}

.benefits__descr {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: -0.01em;
  color: #333333;
  text-align: justify;
  margin-bottom: 27px;
}

.benefits__button {
  display: block;
  border: 1px solid #1b353d;
  border-radius: 5px;
  padding: 12px 24px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #1b353d;
  margin-left: auto;
  margin-bottom: 36px;
}

.about__list--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 0.83;
  letter-spacing: -0.02em;
  color: #333333;
  text-align: center;
  margin-bottom: 32px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  overflow: hidden;
}

.about__item {
  position: relative;
  overflow: visible;
}

.about__title {
  position: absolute;
  left: 10px;
  bottom: 4px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 11.2203px;
  line-height: 0.84;
  color: #ffffff;
}

.div_for_pos {
  position: relative;
}

.scroll_btn {
  position: absolute;
  right: 4px;
  bottom: 42px;
  width: 26px;
  height: 26px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3.2186px);
          backdrop-filter: blur(3.2186px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 128.744px;
  border: none;
}
.scroll_btn svg {
  margin: auto;
}

.instructors {
  padding: 70px 0;
}
.instructors .section__title {
  margin-bottom: 33px;
}

.instructors__list {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instructors__item {
  padding: 40px 17px;
  -ms-flex-preferred-size: calc((100% - 55px) / 2);
      flex-basis: calc((100% - 55px) / 2);
}
.instructors__item:not(:nth-child(2n)) {
  margin-right: 55px;
}
.instructors__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 17px;
}

.instructors__photo {
  margin: 0 auto 18px;
  border-radius: 24.0741px;
}

.instructor__position {
  font-family: "Inter";
  font-weight: 300;
  font-size: 12.2932px;
  text-align: center;
  text-transform: uppercase;
  color: #495057;
  line-height: 15px;
  margin-bottom: 4px;
}

.instructor__name {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16.3909px;
  text-align: center;
  color: #000000;
  line-height: 20px;
}/*# sourceMappingURL=main.css.map */