.benefits {
  padding-top: 42px;
}

.benefits__title {
  margin-bottom: 48px;
}

.benefits__item:not(:last-child) {
  margin-bottom: 70px;
}

.benefits__item--title {
  font-weight: 800;
  font-size: 24px;
  line-height: 0.89;

  color: #0f756b;

  margin-bottom: 18px;
}

.benefits__item--subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;

  color: #333333;

  margin-bottom: 28px;
}

.benefits__img {
  display: block;
  margin: 0 auto 27px;
}

.benefits__descr {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.65;
  letter-spacing: -0.01em;

  color: #333333;

  text-align: justify;
  margin-bottom: 27px;
}

.benefits__button {
  display: block;

  border: 1px solid #1b353d;
  border-radius: 5px;
  padding: 12px 24px;

  background-color: transparent;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;

  color: #1b353d;

  margin-left: auto;
  margin-bottom: 36px;
}

.about__list--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 0.83;

  letter-spacing: -0.02em;

  color: #333333;

  text-align: center;

  margin-bottom: 32px;
}

.about__list {
  display: flex;
  gap: 8px;

  overflow: hidden;
}

.about__item {
  position: relative;

  overflow: visible;
}

.about__title {
  position: absolute;
  left: 10px;
  bottom: 4px;

  font-family: "Poppins";
  font-weight: 500;
  font-size: 11.2203px;
  line-height: 0.84;

  color: #ffffff;
}

.div_for_pos {
  position: relative;
}

.scroll_btn {
  position: absolute;

  right: 4px;
  bottom: 42px;

  width: 26px;
  height: 26px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3.2186px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 128.744px;
  border: none;

  & svg {
    margin: auto;
  }
  // transform: matrix(-1, 0, 0, 1, 0, 0);
}
